# Data Visualization
### MSDS670 - Regis University

| Final Project | Student | Date
| - | - | - | 
| FIFA World Cup 2022 | Ken Dizon | 10/15/2022

In [1]:
# Load Packages 
import pandas as pd
import numpy as np
from numpy import average
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

**Data:** https://www.kaggle.com/datasets/martj42/international-football-results-from-1872-to-2017?select=results.csv

# Project Title: World Cup 2022 Analysis 
Description: 

#### Table
Group A | Group B | Group C | Group D | Group E | Group F | Group G | Group H |
- | - | - | - | - | - | - | - |
Qatar  | England | Argentina | France | Spain | Belgium | Brazil | Portugal
Ecuador  | Iran | Saudi Arabia | Australia | Costa Rica | Canada | Serbia | Ghana
Senegal | United States | Mexico | Denmark | Germany | Morocco | Switzerland | Uruguay
Netherlands | Wales | Poland | Tunisia | Japan | Croatia | Cameroon | South Korea

In [2]:
# Load Data

# Load Data
#pd.set_option('display.max_columns', None)
df = pd.read_csv('results.csv')
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [3]:
df.tail(3)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
43749,2022-06-14,Chile,Ghana,0,0,Kirin Cup,Suita,Japan,True
43750,2022-06-14,Japan,Tunisia,0,3,Kirin Cup,Suita,Japan,False
43751,2022-06-14,South Korea,Egypt,4,1,Friendly,Seoul,South Korea,False

In [4]:
print(df.shape)

(43752, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43752 entries, 0 to 43751
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        43752 non-null  object
 1   home_team   43752 non-null  object
 2   away_team   43752 non-null  object
 3   home_score  43752 non-null  int64
 4   away_score  43752 non-null  int64
 5   tournament  43752 non-null  object
 6   city        43752 non-null  object
 7   country     43752 non-null  object
 8   neutral     43752 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.7+ MB

In [6]:
# Dtypes 
df["date"] = pd.to_datetime(df["date"])

# World Cup 2018 end date
df = df.loc[(df['date'] > '2018-07-15')]
df = df.sort_values(by='date')
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
40138,2018-07-22,Liberia,Sierra Leone,0,0,Friendly,Monrovia,Liberia,False
40139,2018-08-04,Belize,Barbados,1,0,Friendly,San Pedro,Belize,False
40140,2018-08-04,Palestine,Iraq,0,3,Friendly,Al-Ram,Palestine,False
40141,2018-08-15,Guatemala,Cuba,3,0,Friendly,Guatemala City,Guatemala,False
40142,2018-08-18,Andorra,United Arab Emirates,0,0,Friendly,Grödig,Austria,True
...,...,...,...,...,...,...,...,...,...
43729,2022-06-14,Myanmar,Singapore,2,6,AFC Asian Cup qualification,Bishkek,Kyrgyzstan,True
43730,2022-06-14,Kyrgyzstan,Tajikistan,0,0,AFC Asian Cup qualification,Bishkek,Kyrgyzstan,False
43731,2022-06-14,Jamaica,Mexico,1,1,CONCACAF Nations League,Kingston,Jamaica,False
43725,2022-06-14,Afghanistan,Cambodia,2,2,AFC Asian Cup qualification,Kolkota,India,True
43751,2022-06-14,South Korea,Egypt,4,1,Friendly,Seoul,South Korea,False

In [7]:
# Select Teams 
teams = ['Qatar', 'England', 'Argentina', 'France', 'Spain', 'Belgium', 'Brazil', 'Portugal',
          'Ecuador', 'Iran', 'Saudi Arabia', 'Australia', 'Costa Rica', 'Canada', 'Serbia', 'Ghana',
          'Senegal', 'United States', 'Mexico', 'Denmark', 'Germany', 'Morocco', 'Switzerland', 'Uruguay',
          'Netherlands', 'Wales', 'Poland', 'Tunisia', 'Japan', 'Croatia', 'Cameroon', 'South Korea']

In [8]:
wc_22_home = df[df.home_team.isin(teams)]
wc_22_away = df[df.away_team.isin(teams)]

### Home Record

In [9]:
wc_22_home.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
40176,2018-09-06,Netherlands,Peru,2,1,Friendly,Amsterdam,Netherlands,False
40177,2018-09-06,Portugal,Croatia,1,1,Friendly,Faro-Loulé,Portugal,False
40165,2018-09-06,Wales,Republic of Ireland,4,1,UEFA Nations League,Cardiff,Wales,False
40163,2018-09-06,Germany,France,0,0,UEFA Nations League,Munich,Germany,False
40198,2018-09-07,Qatar,China PR,1,0,Friendly,Doha,Qatar,False

In [10]:
# Results
WDL = [wc_22_home['home_score'] > wc_22_home['away_score'],
       wc_22_home['home_score'] == wc_22_home['away_score'],
       wc_22_home['home_score'] < wc_22_home['away_score']]
result = ['W', 'D', 'L']

wc_22_home['result'] = np.select(WDL, result) 
wc_22_home.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,result
40176,2018-09-06,Netherlands,Peru,2,1,Friendly,Amsterdam,Netherlands,False,W
40177,2018-09-06,Portugal,Croatia,1,1,Friendly,Faro-Loulé,Portugal,False,D
40165,2018-09-06,Wales,Republic of Ireland,4,1,UEFA Nations League,Cardiff,Wales,False,W
40163,2018-09-06,Germany,France,0,0,UEFA Nations League,Munich,Germany,False,D
40198,2018-09-07,Qatar,China PR,1,0,Friendly,Doha,Qatar,False,W

In [11]:
# games played 
games_played = wc_22_home.groupby(['home_team']).size()
games_played = games_played.to_frame().reset_index()
games_played.columns = ['home_team', 'games_played']
games_played.head()

# wdl tally
tally = wc_22_home.groupby(['home_team'])['result'].value_counts().unstack().fillna(0).reset_index()
tally = tally[['home_team', 'W', 'D', 'L']]

# merge gp and tally
game_tally = pd.merge(games_played, tally, on="home_team", how='right')
game_tally.head()

   home_team  games_played   W  D  L
0  Argentina            29  18  8  3
1  Australia            16  10  4  2
2    Belgium            25  19  3  3
3     Brazil            33  23  7  3
4   Cameroon            21  11  9  1

In [12]:
# new dataframe
home_rec = wc_22_home.groupby(['home_team'])['home_score', 'away_score'].sum().reset_index()
home_rec = home_rec.rename(columns={"home_score": "goals_for",
                                    "away_score": "goals_against"})
# merge 
home_rec = pd.merge(game_tally, home_rec, on="home_team")

home_rec.head()

   home_team  games_played   W  D  L  goals_for  goals_against
0  Argentina            29  18  8  3         56             16
1  Australia            16  10  4  2         35              9
2    Belgium            25  19  3  3         76             22
3     Brazil            33  23  7  3         72             12
4   Cameroon            21  11  9  1         29             11

### AWAY Record

In [13]:
wc_22_away.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
40161,2018-09-05,Slovakia,Denmark,3,0,Friendly,Trnava,Slovakia,False
40177,2018-09-06,Portugal,Croatia,1,1,Friendly,Faro-Loulé,Portugal,False
40163,2018-09-06,Germany,France,0,0,UEFA Nations League,Munich,Germany,False
40201,2018-09-07,United States,Brazil,0,2,Friendly,East Rutherford,United States,False
40199,2018-09-07,Scotland,Belgium,0,4,Friendly,Glasgow,Scotland,False

In [14]:
# Results
WDL2 = [wc_22_away['home_score'] < wc_22_away['away_score'],
       wc_22_away['home_score'] == wc_22_away['away_score'],
       wc_22_away['home_score'] > wc_22_away['away_score']]
result2 = ['W', 'D', 'L']

wc_22_away['result'] = np.select(WDL2, result2) 
wc_22_away.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,result
40161,2018-09-05,Slovakia,Denmark,3,0,Friendly,Trnava,Slovakia,False,L
40177,2018-09-06,Portugal,Croatia,1,1,Friendly,Faro-Loulé,Portugal,False,D
40163,2018-09-06,Germany,France,0,0,UEFA Nations League,Munich,Germany,False,D
40201,2018-09-07,United States,Brazil,0,2,Friendly,East Rutherford,United States,False,W
40199,2018-09-07,Scotland,Belgium,0,4,Friendly,Glasgow,Scotland,False,W

In [15]:
# games played 
games_played2 = wc_22_away.groupby(['away_team']).size()
games_played2 = games_played2.to_frame().reset_index()
games_played2.columns = ['away_team', 'games_played']

# wdl tally
tally2 = wc_22_away.groupby(['away_team'])['result'].value_counts().unstack().fillna(0).reset_index()
tally2 = tally2[['away_team', 'W', 'D', 'L']]

# merge gp and tally
game_tally2 = pd.merge(games_played2, tally2, on="away_team", how='right')
game_tally2.head()

   away_team  games_played     W    D    L
0  Argentina            18  12.0  5.0  1.0
1  Australia            14   8.0  2.0  4.0
2    Belgium            22  15.0  4.0  3.0
3     Brazil            15  12.0  3.0  0.0
4   Cameroon            16   6.0  5.0  5.0

In [16]:
# Convert W,D,L columns to int
game_tally2[['W', 'D', 'L']] = game_tally2[['W', 'D', 'L']].astype(int)

# new dataframe
away_rec = wc_22_away.groupby(['away_team'])['away_score', 'home_score'].sum().reset_index()
away_rec = away_rec.rename(columns={"away_score": "goals_for",
                                    "home_score": "goals_against"})
# merge 
away_rec = pd.merge(game_tally2, away_rec, on="away_team")

away_rec.head()

   away_team  games_played   W  D  L  goals_for  goals_against
0  Argentina            18  12  5  1         31             11
1  Australia            14   8  2  4         29              9
2    Belgium            22  15  4  3         50             19
3     Brazil            15  12  3  0         31              6
4   Cameroon            16   6  5  5         15             13

# Stats into the 2022 Fifa World Cup

In [17]:
home_rec = home_rec.rename(columns={"home_team": "team"})
away_rec = away_rec.rename(columns={"away_team": "team"})

In [18]:
display('home df', home_rec.head(3))
display('away df', away_rec.head(3))

'home df'

        team  games_played   W  D  L  goals_for  goals_against
0  Argentina            29  18  8  3         56             16
1  Australia            16  10  4  2         35              9
2    Belgium            25  19  3  3         76             22

'away df'

        team  games_played   W  D  L  goals_for  goals_against
0  Argentina            18  12  5  1         31             11
1  Australia            14   8  2  4         29              9
2    Belgium            22  15  4  3         50             19

In [19]:
# Combine Dataframe
wc_df = pd.concat([home_rec, away_rec]).groupby(['team']).sum().reset_index()

In [20]:
# Assigning teams to groups

dict = {'Qatar': 'A', 'Netherlands': 'A', 'Senegal': 'A', 'Ecuador': 'A',
        'England': 'B', 'United States': 'B', 'Iran': 'B', 'Wales': 'B',
        'Argentina': 'C', 'Saudi Arabia': 'C', 'Mexico': 'C', 'Poland': 'C',
        'France': 'D', 'Australia': 'D', 'Denmark': 'D', 'Tunisia': 'D',
        'Spain': 'E', 'Germany': 'E', 'Japan': 'E', 'Costa Rica': 'E',
        'Belgium': 'F', 'Croatia': 'F', 'Canada': 'F', 'Morocco': 'F',
        'Brazil': 'G', 'Serbia': 'G', 'Switzerland': 'G', 'Cameroon': 'G',
        'Portugal': 'H', 'Ghana': 'H', 'Uruguay': 'H', 'South Korea': 'H'}

wc_df['group'] = wc_df['team'].apply(lambda x : dict[x])
wc_df = wc_df.reindex(columns=['group']+wc_df.columns[:-1].tolist()) # move to first

In [21]:
# Assigning teams to confederations

AFC = ['Qatar', 'Iran', 'Saudi Arabia', 'Australia', 'Japan', 'South Korea']
       
UEFA = ['Netherlands', 'England', 'Wales', 'Poland', 'France', 'Denmark', 'Spain',
        'Germany', 'Belgium', 'Croatia', 'Serbia', 'Switzerland', 'Portugal']
        
CAF = ['Senegal', 'Tunisia', 'Morocco', 'Cameroon', 'Ghana'] 
        
CONMEBOL = ['Ecuador', 'Argentina', 'Costa Rica', 'Brazil', 'Uruguay']    
        
CONCACAF = ['United States', 'Mexico', 'Canada'] 
    
d = {'AFC': AFC, 'UEFA': UEFA, 'CAF': CAF,
     'CONMEBOL': CONMEBOL, 'CONCACAF': CONCACAF}
    
d1 = {k: oldk for oldk, oldv in d.items() for k in oldv}
wc_df['confederation'] = wc_df['team'].map(d1) 


# shift column 'Name' to first position
shift_column = wc_df.pop('confederation')
# insert column using insert(position,column_name,
# shift_column) function
wc_df.insert(2, 'confederation', shift_column)

In [22]:
wc_df.head()

,group,team,confederation,games_played,W,D,L,goals_for,goals_against
0,C,Argentina,CONMEBOL,47,30,13,4,87,27
1,D,Australia,AFC,30,18,6,6,64,18
2,F,Belgium,UEFA,47,34,7,6,126,41
3,G,Brazil,CONMEBOL,48,35,10,3,103,18
4,G,Cameroon,CAF,37,17,14,6,44,24

#  Weighted Average

In [23]:
wa = wc_df[['team', 'goals_for', 'games_played']]
wa.head()

        team  goals_for  games_played
0  Argentina         87            47
1  Australia         64            30
2    Belgium        126            47
3     Brazil        103            48
4   Cameroon         44            37

In [24]:
weighted_average_gf = round(average( wc_df['goals_for'], weights = wc_df['games_played']),2)
print('Weighted Average - goals for:', weighted_average_gf)

Weighted Average - goals for: 88.23

- Teams played different number of games
### Equations for Stats

In [25]:
### Stats bound ###

# goal diff
wc_df['goal_diff'] = wc_df['goals_for'] - wc_df['goals_against']

# Scoring ratio
wc_df['goal_scoring_ratio'] = (wc_df['goals_for'] / wc_df['goals_against']).round(2)

# Goals per Game
wc_df['g_pg'] = (wc_df['goals_for'] / wc_df['games_played']).round(2)
wc_df['ga_pg']= (wc_df['goals_against'] / wc_df['games_played']).round(2)

# Goal Diff per game
wc_df['gdiff_pg'] = (wc_df['g_pg'] - wc_df['ga_pg']).round(2)

# EST Win % 
est_win_percentage = (wc_df['goal_scoring_ratio']**2 / 
                     (wc_df['goal_scoring_ratio']**2 + 1)) - (wc_df['D']/wc_df['games_played'])
wc_df['est_win_%'] = est_win_percentage.round(2)

# true_win_%
wc_df['true_win_%'] = (wc_df['W']/wc_df['games_played']).round(2)

# Absoulte error 
wc_df['absolute_error'] = (wc_df['true_win_%'] - wc_df['est_win_%']).round(3)

In [26]:
#Mean AD (MAD)

from sklearn.metrics import mean_absolute_error as mae

actual = wc_df['true_win_%']
calculated = wc_df['est_win_%']

error = mae(actual, calculated).round(3)
print("Mean absolute error : " + str(error))

Mean absolute error : 0.063

In [27]:
MAD_win = (wc_df['goal_scoring_ratio']**6 /
                 (wc_df['goal_scoring_ratio']**6 + 1)) - (wc_df['D']/wc_df['games_played'])
wc_df['win_%'] = MAD_win.round(2)

# Clean World Cup Dataframe

In [28]:
wc_df = wc_df.sort_values(by=['est_win_%'], ascending=False)
wc_df

,group,team,confederation,games_played,W,D,L,goals_for,goals_against,goal_diff,goal_scoring_ratio,g_pg,ga_pg,gdiff_pg,est_win_%,true_win_%,absolute_error,win_%
5,F,Canada,CONCACAF,42,29,4,9,120,29,91,4.14,2.86,0.69,2.17,0.85,0.69,-0.16,0.90
14,B,Iran,AFC,36,26,5,5,83,19,64,4.37,2.31,0.53,1.78,0.81,0.72,-0.09,0.86
2,F,Belgium,UEFA,47,34,7,6,126,41,85,3.07,2.68,0.87,1.81,0.76,0.72,-0.04,0.85
3,G,Brazil,CONMEBOL,48,35,10,3,103,18,85,5.72,2.15,0.38,1.77,0.76,0.73,-0.03,0.79
15,E,Japan,AFC,51,34,6,11,104,39,65,2.67,2.04,0.76,1.28,0.76,0.67,-0.09,0.88
10,B,England,UEFA,49,33,9,7,119,30,89,3.97,2.43,0.61,1.82,0.76,0.67,-0.09,0.82
1,D,Australia,AFC,30,18,6,6,64,18,46,3.56,2.13,0.60,1.53,0.73,0.60,-0.13,0.80
29,B,United States,CONCACAF,60,37,10,13,119,45,74,2.64,1.98,0.75,1.23,0.71,0.62,-0.09,0.83
8,D,Denmark,UEFA,48,30,9,9,105,37,68,2.84,2.19,0.77,1.42,0.70,0.62,-0.08,0.81
23,A,Senegal,CAF,46,30,9,7,69,26,43,2.65,1.50,0.57,0.93,0.68,0.65,-0.03,0.80
17,F,Morocco,CAF,43,27,10,6,75,27,48,2.78,1.74,0.63,1.11,0.65,0.63,-0.02,0.77
28,D,Tunisia,CAF,50,28,9,13,72,33,39,2.18,1.44,0.66,0.78,0.65,0.56,-0.09,0.81
20,H,Portugal,UEFA,46,28,12,6,100,33,67,3.03,2.17,0.72,1.45,0.64,0.61,-0.03,0.74
0,C,Argentina,CONMEBOL,47,30,13,4,87,27,60,3.22,1.85,0.57,1.28,0.64,0.64,0.00,0.72
25,H,South Korea,AFC,47,30,11,6,85,33,52,2.58,1.81,0.70,1.11,0.64,0.64,0.00,0.76
11,D,France,UEFA,47,30,12,5,99,38,61,2.61,2.11,0.81,1.30,0.62,0.64,0.02,0.74
18,A,Netherlands,UEFA,46,28,11,7,108,44,64,2.45,2.35,0.96,1.39,0.62,0.61,-0.01,0.76
26,E,Spain,UEFA,48,29,14,5,110,35,75,3.14,2.29,0.73,1.56,0.62,0.60,-0.02,0.71
16,C,Mexico,CONCACAF,63,37,13,13,107,58,49,1.84,1.70,0.92,0.78,0.57,0.59,0.02,0.77
21,A,Qatar,AFC,61,34,10,17,105,65,40,1.62,1.72,1.07,0.65,0.56,0.56,0.00,0.78
12,E,Germany,UEFA,46,25,14,7,116,53,63,2.19,2.52,1.15,1.37,0.52,0.54,0.02,0.69
22,C,Saudi Arabia,AFC,45,22,11,12,63,36,27,1.75,1.40,0.80,0.60,0.51,0.49,-0.02,0.72
19,C,Poland,UEFA,45,20,12,13,81,51,30,1.59,1.80,1.13,0.67,0.45,0.44,-0.01,0.68
27,G,Switzerland,UEFA,47,20,13,14,86,53,33,1.62,1.83,1.13,0.70,0.45,0.43,-0.02,0.67
30,H,Uruguay,CONMEBOL,42,19,12,11,61,41,20,1.49,1.45,0.98,0.47,0.40,0.45,0.05,0.63
4,G,Cameroon,CAF,37,17,14,6,44,24,20,1.83,1.19,0.65,0.54,0.39,0.46,0.07,0.60
24,G,Serbia,UEFA,44,22,15,7,77,49,28,1.57,1.75,1.11,0.64,0.37,0.50,0.13,0.60
7,F,Croatia,UEFA,46,21,11,14,76,62,14,1.23,1.65,1.35,0.30,0.36,0.46,0.10,0.54
31,B,Wales,UEFA,47,21,12,14,53,48,5,1.10,1.13,1.02,0.11,0.29,0.45,0.16,0.38
9,A,Ecuador,CONMEBOL,47,18,14,15,64,56,8,1.14,1.36,1.19,0.17,0.27,0.38,0.11,0.39
13,H,Ghana,CAF,34,13,13,8,39,29,10,1.34,1.15,0.85,0.30,0.26,0.38,0.12,0.47
6,E,Costa Rica,CONMEBOL,51,18,13,20,49,55,-6,0.89,0.96,1.08,-0.12,0.19,0.35,0.16,0.08

In [29]:
wc_df.shape

(32, 18)

In [30]:
# Subset by Group
Group_A = wc_df[wc_df['team'].isin(['Qatar', 'Netherlands', 'Senegal', 'Ecuador'])]
Group_B = wc_df[wc_df['team'].isin(['England', 'United States', 'Iran', 'Wales'])]
Group_C = wc_df[wc_df['team'].isin(['Argentina', 'Saudi Arabia', 'Mexico', 'Poland'])]
Group_D = wc_df[wc_df['team'].isin(['France', 'Australia', 'Denmark', 'Tunisia'])]
Group_E = wc_df[wc_df['team'].isin(['Spain', 'Germany', 'Japan', 'Costa Rica'])]
Group_F = wc_df[wc_df['team'].isin(['Belgium', 'Croatia', 'Canada', 'Morocco'])]
Group_G = wc_df[wc_df['team'].isin(['Brazil', 'Serbia', 'Switzerland', 'Cameroon'])]
Group_H = wc_df[wc_df['team'].isin(['Portugal', 'Ghana', 'Uruguay', 'South Korea'])]

groups = Group_A, Group_B, Group_C, Group_D, Group_E, Group_F, Group_G, Group_H

In [31]:
Group_A

,group,team,confederation,games_played,W,D,L,goals_for,goals_against,goal_diff,goal_scoring_ratio,g_pg,ga_pg,gdiff_pg,est_win_%,true_win_%,absolute_error,win_%
23,A,Senegal,CAF,46,30,9,7,69,26,43,2.65,1.50,0.57,0.93,0.68,0.65,-0.03,0.80
18,A,Netherlands,UEFA,46,28,11,7,108,44,64,2.45,2.35,0.96,1.39,0.62,0.61,-0.01,0.76
21,A,Qatar,AFC,61,34,10,17,105,65,40,1.62,1.72,1.07,0.65,0.56,0.56,0.00,0.78
9,A,Ecuador,CONMEBOL,47,18,14,15,64,56,8,1.14,1.36,1.19,0.17,0.27,0.38,0.11,0.39

In [32]:
Group_B

,group,team,confederation,games_played,W,D,L,goals_for,goals_against,goal_diff,goal_scoring_ratio,g_pg,ga_pg,gdiff_pg,est_win_%,true_win_%,absolute_error,win_%
14,B,Iran,AFC,36,26,5,5,83,19,64,4.37,2.31,0.53,1.78,0.81,0.72,-0.09,0.86
10,B,England,UEFA,49,33,9,7,119,30,89,3.97,2.43,0.61,1.82,0.76,0.67,-0.09,0.82
29,B,United States,CONCACAF,60,37,10,13,119,45,74,2.64,1.98,0.75,1.23,0.71,0.62,-0.09,0.83
31,B,Wales,UEFA,47,21,12,14,53,48,5,1.10,1.13,1.02,0.11,0.29,0.45,0.16,0.38

In [33]:
Group_C

,group,team,confederation,games_played,W,D,L,goals_for,goals_against,goal_diff,goal_scoring_ratio,g_pg,ga_pg,gdiff_pg,est_win_%,true_win_%,absolute_error,win_%
0,C,Argentina,CONMEBOL,47,30,13,4,87,27,60,3.22,1.85,0.57,1.28,0.64,0.64,0.00,0.72
16,C,Mexico,CONCACAF,63,37,13,13,107,58,49,1.84,1.70,0.92,0.78,0.57,0.59,0.02,0.77
22,C,Saudi Arabia,AFC,45,22,11,12,63,36,27,1.75,1.40,0.80,0.60,0.51,0.49,-0.02,0.72
19,C,Poland,UEFA,45,20,12,13,81,51,30,1.59,1.80,1.13,0.67,0.45,0.44,-0.01,0.68

In [34]:
Group_D

,group,team,confederation,games_played,W,D,L,goals_for,goals_against,goal_diff,goal_scoring_ratio,g_pg,ga_pg,gdiff_pg,est_win_%,true_win_%,absolute_error,win_%
1,D,Australia,AFC,30,18,6,6,64,18,46,3.56,2.13,0.60,1.53,0.73,0.60,-0.13,0.80
8,D,Denmark,UEFA,48,30,9,9,105,37,68,2.84,2.19,0.77,1.42,0.70,0.62,-0.08,0.81
28,D,Tunisia,CAF,50,28,9,13,72,33,39,2.18,1.44,0.66,0.78,0.65,0.56,-0.09,0.81
11,D,France,UEFA,47,30,12,5,99,38,61,2.61,2.11,0.81,1.30,0.62,0.64,0.02,0.74

In [35]:
Group_E

,group,team,confederation,games_played,W,D,L,goals_for,goals_against,goal_diff,goal_scoring_ratio,g_pg,ga_pg,gdiff_pg,est_win_%,true_win_%,absolute_error,win_%
15,E,Japan,AFC,51,34,6,11,104,39,65,2.67,2.04,0.76,1.28,0.76,0.67,-0.09,0.88
26,E,Spain,UEFA,48,29,14,5,110,35,75,3.14,2.29,0.73,1.56,0.62,0.60,-0.02,0.71
12,E,Germany,UEFA,46,25,14,7,116,53,63,2.19,2.52,1.15,1.37,0.52,0.54,0.02,0.69
6,E,Costa Rica,CONMEBOL,51,18,13,20,49,55,-6,0.89,0.96,1.08,-0.12,0.19,0.35,0.16,0.08

In [36]:
Group_F

,group,team,confederation,games_played,W,D,L,goals_for,goals_against,goal_diff,goal_scoring_ratio,g_pg,ga_pg,gdiff_pg,est_win_%,true_win_%,absolute_error,win_%
5,F,Canada,CONCACAF,42,29,4,9,120,29,91,4.14,2.86,0.69,2.17,0.85,0.69,-0.16,0.90
2,F,Belgium,UEFA,47,34,7,6,126,41,85,3.07,2.68,0.87,1.81,0.76,0.72,-0.04,0.85
17,F,Morocco,CAF,43,27,10,6,75,27,48,2.78,1.74,0.63,1.11,0.65,0.63,-0.02,0.77
7,F,Croatia,UEFA,46,21,11,14,76,62,14,1.23,1.65,1.35,0.30,0.36,0.46,0.10,0.54

In [37]:
Group_G

,group,team,confederation,games_played,W,D,L,goals_for,goals_against,goal_diff,goal_scoring_ratio,g_pg,ga_pg,gdiff_pg,est_win_%,true_win_%,absolute_error,win_%
3,G,Brazil,CONMEBOL,48,35,10,3,103,18,85,5.72,2.15,0.38,1.77,0.76,0.73,-0.03,0.79
27,G,Switzerland,UEFA,47,20,13,14,86,53,33,1.62,1.83,1.13,0.70,0.45,0.43,-0.02,0.67
4,G,Cameroon,CAF,37,17,14,6,44,24,20,1.83,1.19,0.65,0.54,0.39,0.46,0.07,0.60
24,G,Serbia,UEFA,44,22,15,7,77,49,28,1.57,1.75,1.11,0.64,0.37,0.50,0.13,0.60

In [38]:
Group_H

,group,team,confederation,games_played,W,D,L,goals_for,goals_against,goal_diff,goal_scoring_ratio,g_pg,ga_pg,gdiff_pg,est_win_%,true_win_%,absolute_error,win_%
20,H,Portugal,UEFA,46,28,12,6,100,33,67,3.03,2.17,0.72,1.45,0.64,0.61,-0.03,0.74
25,H,South Korea,AFC,47,30,11,6,85,33,52,2.58,1.81,0.70,1.11,0.64,0.64,0.00,0.76
30,H,Uruguay,CONMEBOL,42,19,12,11,61,41,20,1.49,1.45,0.98,0.47,0.40,0.45,0.05,0.63
13,H,Ghana,CAF,34,13,13,8,39,29,10,1.34,1.15,0.85,0.30,0.26,0.38,0.12,0.47

### Cleaned Dataframe to be used in Data Visualization GUI

In [39]:
## Save data to CSV
# wc_df.to_csv("final_wc2022_df.csv",index=False)